@charset "EUC-KR";

html, body {width:100%; height:100%; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none;}
		html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, button, address, em, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, hr, blockquote {margin:0; padding:0}
		body {padding:0; background:#fff; font-family:'맑은 고딕',Malgun Gothic, dotum, '돋움', gulim, '굴림', Arial, AppleGothic, verdana, sans-serif, helvetica; font-size:15px; color:#000;}
		h1, h2, h3, h4, h5, h6 {font-weight:normal}
		ol, ul, li {list-style:none}
		table {width:100%; border-collapse:collapse; border-spacing:0; border:0;}
		form, fieldset, iframe {display:block; border:0}
		img, button {border:0 none; vertical-align:middle}
		label, button {cursor:pointer}
		caption, legend {width:0; height:0; margin:0; padding:0; text-indent:-9999em; overflow:hidden; font-size:0;} 
		button {margin:0; padding:0; border:0; background:transparent; text-transform:none; --webkit-appearance:button; vertical-align:middle; cursor:pointer;}
		a:hover {text-decoration:none;}
		img {vertical-align:top; border:0; line-height:0;}

		input, textarea, select {margin:0; padding:0; font-family:'맑은 고딕',Malgun Gothic,'돋움',gulim,'굴림',Arial, AppleGothic, verdana, sans-serif, helvetica; font-size:10.5pt; color:#555; vertical-align:middle;}
		input, textarea {box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
		textarea {border: 1px solid #666; resize:none}
		button {overflow:visible; margin:0; padding:0; border:0 none; background:none; font-size:0; font-family:'YouandiModernTR', 'YouandiModernHEB', dotum,'돋움',gulim,'굴림',Arial, AppleGothic, verdana, sans-serif, helvetica; vertical-align:top; cursor:pointer;}
		button::-moz-focus-inner {border:0; padding:0;}
		a {color:#000; text-decoration:none; word-break:break-all;}
		a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
		input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px white inset;}

		.blind {overflow:hidden; visibility:hidden; position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0; text-indent:-9999px;}
		.ellipsis {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

		.course-guide__info {width:720px; margin:0 auto; font-family:'맑은 고딕', Malgun Gothic, '돋움', Dotum, Arial, Helvetica, sans-serif;}
		.course-guide__info--table {width:100%; table-layout:fixed; border-top:3px solid  #5088d2;}
		.course-guide__info--table.first {margin-top:10px;}
		
		.course-guide__info--table thead th,
		.course-guide__info--table tfoot td,
		.course-guide__info--table tbody td {padding:10px 0; border-right:1px solid #ccc; border-bottom:1px solid #ccc; font:normal 14px/20px '맑은 고딕', Malgun Gothic, '돋움', Dotum, Arial, Helvetica, sans-serif; text-align:center; color:#666; word-break:keep-all; word-wrap:break-word;}
		.course-guide__info--table thead th:first-child,
		.course-guide__info--table tfoot td:first-child,
		.course-guide__info--table tbody td:first-child {border-left:1px solid  #ccc;}
		
		.course-guide__info--table thead th {font-weight:bold; background:#f5f5f5; color:#333;}
		.course-guide__info--table tfoot td {background:#f3f7fc;}
		.course-guide__info--table tfoot td > b,
		.course-guide__info--table tbody td > b {color:#333;}
		.course-guide__info--table tbody td > em {font-weight:600; color:#5088d2;}
		
		.course-guide__info--table .bg-sky {background-color:#f3f7fc;}
		.course-guide__info--table .ta-left {text-align:left; padding-right:10px; padding-left:15px;}
		.course-guide__info--table .ellipsis {display:block; overflow:hidden; text-overflow:ellipsis; word-wrap:break-word;}
		
		.course-guide__info--title {display:block; margin:40px 0 0; font-size:17px; color:#333;}
		.course-guide__info--title:before {display:inline-block; position:relative; top:-2px; width:2px; height:2px; margin-right:5px; border:2px solid  #607de8; vertical-align:middle; content:'';}
		
		.button {display:inline-block; min-width:30px; height:22px; padding:0 15px; border:1px solid #5088d2; font-size:12px; line-height:22px; color:#333; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
		.button.button_apply {border:0 none; background:#5088d2; color:#fff;}		