@charset "EUC-KR";
.f {
	position: relative;
	margin: 0;
	padding: 0;
	color: #666;
}

.f p {
	width: 100%;
	margin: 0 0 13px;
	font-size: 1.3em;
	text-align: center;
	margin-top: 20px;
}

.f p:after {
	content: "";
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
}

.f textarea {
	position: relative;
	width: 570px;
	height: 118px;
	min-height: 118px;
	padding: 3px 3px 3px 6px;
	border: 1px solid #ececec;
	border-top-color: #e1e1e1;
	border-left-color: #e1e1e1;
	background: #ececec;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.scheme-g {
	margin: 26px 0 8px;
	padding: 0px;
	font-size: 1.2em;
	font-weight: 100;
}

.button_big {
	float: right;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	margin-left: 5px;
	padding: 8px 16px;
	text-decoration: none;
	color: #fff;
	background: #3B0B5F;
	text-shadow: 1px 1px 1px #0066cc;
	-webkit-transition: all 0.2s ease-out;
}
.button {
	float: right;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	margin-left: 5px;
 	padding: 8px 16px;
	text-decoration: none;
	color: #fff;
	background: #3B0B5F;
	text-shadow: 1px 1px 1px #0066cc;
	-webkit-transition: all 0.2s ease-out;
}